In [1]:
import requests
import pandas as pd
import kagglehub
import numpy as np

from data_cleaning import batch_save_to_csv, batch_load_from_csv

### Valuation Data Cleaning

In [ ]:
api_endpoint = "https://data.cityofnewyork.us/api/v3/views/yjxr-fw8i/query.csv" # Replace with your copied endpoint
response = requests.get(api_endpoint, auth=("8i3r3w3aa5a6h0s5l6ozed13t", "5qujprv11re1rytihkdudc4g6pd4yfxbaeydsbkkts1x34nrvm"))
data = response.text # Or response.text for CSV, depending on endpoint format

# print(data)

with open("valuation_data.csv", "w+") as f:
    f.write(data)

# # If JSON, you can often convert to a Pandas DataFrame
# df = pd.DataFrame(data)
# print(df.head())
# df.to_csv("valuation_data.csv")

In [2]:
df = pd.read_csv("../../valuation_data.csv")
df.info()

KeyboardInterrupt:

In [18]:
df.shape

(9845857, 49)

In [25]:
df['latitude'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 9845857 entries, 0 to 9845856
Series name: latitude
Non-Null Count    Dtype
--------------    -----
9501114 non-null  float64
dtypes: float64(1)
memory usage: 75.1 MB

In [6]:
# Save Raw DF to github folders (hopefully)
batch_save_to_csv(path="../data/raw_data/val/valuation_raw", df=df, debug=True)

frags=121, batch_size=81371
df[0:81371]
df[81371:162742]
df[162742:244113]
df[244113:325484]
df[325484:406855]
df[406855:488226]
df[488226:569597]
df[569597:650968]
df[650968:732339]
df[732339:813710]
df[813710:895081]
df[895081:976452]
df[976452:1057823]
df[1057823:1139194]
df[1139194:1220565]
df[1220565:1301936]
df[1301936:1383307]
df[1383307:1464678]
df[1464678:1546049]
df[1546049:1627420]
df[1627420:1708791]
df[1708791:1790162]
df[1790162:1871533]
df[1871533:1952904]
df[1952904:2034275]
df[2034275:2115646]
df[2115646:2197017]
df[2197017:2278388]
df[2278388:2359759]
df[2359759:2441130]
df[2441130:2522501]
df[2522501:2603872]
df[2603872:2685243]
df[2685243:2766614]
df[2766614:2847985]
df[2847985:2929356]
df[2929356:3010727]
df[3010727:3092098]
df[3092098:3173469]
df[3173469:3254840]
df[3254840:3336211]
df[3336211:3417582]
df[3417582:3498953]
df[3498953:3580324]
df[3580324:3661695]
df[3661695:3743066]
df[3743066:3824437]
df[3824437:3905808]
df[3905808:3987179]
df[3987179:4068550]
df[4068550:4149921]
df[4149921:4231292]
df[4231292:4312663]
df[4312663:4394034]
df[4394034:4475405]
df[4475405:4556776]
df[4556776:4638147]
df[4638147:4719518]
df[4719518:4800889]
df[4800889:4882260]
df[4882260:4963631]
df[4963631:5045002]
df[5045002:5126373]
df[5126373:5207744]
df[5207744:5289115]
df[5289115:5370486]
df[5370486:5451857]
df[5451857:5533228]
df[5533228:5614599]
df[5614599:5695970]
df[5695970:5777341]
df[5777341:5858712]
df[5858712:5940083]
df[5940083:6021454]
df[6021454:6102825]
df[6102825:6184196]
df[6184196:6265567]
df[6265567:6346938]
df[6346938:6428309]
df[6428309:6509680]
df[6509680:6591051]
df[6591051:6672422]
df[6672422:6753793]
df[6753793:6835164]
df[6835164:6916535]
df[6916535:6997906]
df[6997906:7079277]
df[7079277:7160648]
df[7160648:7242019]
df[7242019:7323390]
df[7323390:7404761]
df[7404761:7486132]
df[7486132:7567503]
df[7567503:7648874]
df[7648874:7730245]
df[7730245:7811616]
df[7811616:7892987]
df[7892987:7974358]
df[7974358:8055729]
df[8055729:8137100]
df[8137100:8218471]
df[8218471:8299842]
df[8299842:8381213]
df[8381213:8462584]
df[8462584:8543955]
df[8543955:8625326]
df[8625326:8706697]
df[8706697:8788068]
df[8788068:8869439]
df[8869439:8950810]
df[8950810:9032181]
df[9032181:9113552]
df[9113552:9194923]
df[9194923:9276294]
df[9276294:9357665]
df[9357665:9439036]
df[9439036:9520407]
df[9520407:9601778]
df[9601778:9683149]
df[9683149:9764520]
df[9764520:9845891]

In [3]:
df = batch_load_from_csv(path="../data/raw_data/val/valuation_raw", debug=True)
df

Entering ../data/raw_data/val/
Loading from ../data/raw_data/val/valuation_raw_0.csv
Loading from ../data/raw_data/val/valuation_raw_1.csv
Loading from ../data/raw_data/val/valuation_raw_2.csv
Loading from ../data/raw_data/val/valuation_raw_3.csv
Loading from ../data/raw_data/val/valuation_raw_4.csv
Loading from ../data/raw_data/val/valuation_raw_5.csv
Loading from ../data/raw_data/val/valuation_raw_6.csv
Loading from ../data/raw_data/val/valuation_raw_7.csv
Loading from ../data/raw_data/val/valuation_raw_8.csv
Loading from ../data/raw_data/val/valuation_raw_9.csv
Loading from ../data/raw_data/val/valuation_raw_10.csv
Loading from ../data/raw_data/val/valuation_raw_11.csv
Loading from ../data/raw_data/val/valuation_raw_12.csv
Loading from ../data/raw_data/val/valuation_raw_13.csv
Loading from ../data/raw_data/val/valuation_raw_14.csv
Loading from ../data/raw_data/val/valuation_raw_15.csv
Loading from ../data/raw_data/val/valuation_raw_16.csv
Loading from ../data/raw_data/val/valuation_raw_17.csv
Loading from ../data/raw_data/val/valuation_raw_18.csv
Loading from ../data/raw_data/val/valuation_raw_19.csv
Loading from ../data/raw_data/val/valuation_raw_20.csv
Loading from ../data/raw_data/val/valuation_raw_21.csv
Loading from ../data/raw_data/val/valuation_raw_22.csv
Loading from ../data/raw_data/val/valuation_raw_23.csv
Loading from ../data/raw_data/val/valuation_raw_24.csv
Loading from ../data/raw_data/val/valuation_raw_25.csv
Loading from ../data/raw_data/val/valuation_raw_26.csv
Loading from ../data/raw_data/val/valuation_raw_27.csv
Loading from ../data/raw_data/val/valuation_raw_28.csv
Loading from ../data/raw_data/val/valuation_raw_29.csv
Loading from ../data/raw_data/val/valuation_raw_30.csv
Loading from ../data/raw_data/val/valuation_raw_31.csv
Loading from ../data/raw_data/val/valuation_raw_32.csv
Loading from ../data/raw_data/val/valuation_raw_33.csv
Loading from ../data/raw_data/val/valuation_raw_34.csv
Loading from ../data/raw_data/val/valuation_raw_35.csv
Loading from ../data/raw_data/val/valuation_raw_36.csv
Loading from ../data/raw_data/val/valuation_raw_37.csv
Loading from ../data/raw_data/val/valuation_raw_38.csv
Loading from ../data/raw_data/val/valuation_raw_39.csv
Loading from ../data/raw_data/val/valuation_raw_40.csv
Loading from ../data/raw_data/val/valuation_raw_41.csv
Loading from ../data/raw_data/val/valuation_raw_42.csv
Loading from ../data/raw_data/val/valuation_raw_43.csv
Loading from ../data/raw_data/val/valuation_raw_44.csv
Loading from ../data/raw_data/val/valuation_raw_45.csv
Loading from ../data/raw_data/val/valuation_raw_46.csv
Loading from ../data/raw_data/val/valuation_raw_47.csv
Loading from ../data/raw_data/val/valuation_raw_48.csv
Loading from ../data/raw_data/val/valuation_raw_49.csv
Loading from ../data/raw_data/val/valuation_raw_50.csv
Loading from ../data/raw_data/val/valuation_raw_51.csv
Loading from ../data/raw_data/val/valuation_raw_52.csv
Loading from ../data/raw_data/val/valuation_raw_53.csv
Loading from ../data/raw_data/val/valuation_raw_54.csv
Loading from ../data/raw_data/val/valuation_raw_55.csv
Loading from ../data/raw_data/val/valuation_raw_56.csv
Loading from ../data/raw_data/val/valuation_raw_57.csv
Loading from ../data/raw_data/val/valuation_raw_58.csv
Loading from ../data/raw_data/val/valuation_raw_59.csv
Loading from ../data/raw_data/val/valuation_raw_60.csv
Loading from ../data/raw_data/val/valuation_raw_61.csv
Loading from ../data/raw_data/val/valuation_raw_62.csv
Loading from ../data/raw_data/val/valuation_raw_63.csv
Loading from ../data/raw_data/val/valuation_raw_64.csv
Loading from ../data/raw_data/val/valuation_raw_65.csv
Loading from ../data/raw_data/val/valuation_raw_66.csv
Loading from ../data/raw_data/val/valuation_raw_67.csv
Loading from ../data/raw_data/val/valuation_raw_68.csv
Loading from ../data/raw_data/val/valuation_raw_69.csv
Loading from ../data/raw_data/val/valuation_raw_70.csv
Loading from ../data/raw_data/val/valuation_raw_71.csv
Loading from ../data/raw_data/val/valuation_raw_72.csv
Loading from ../data/raw_data/val/valuation_raw_73.csv
Loading from ../data/raw_data/val/valuation_raw_74.csv
Loading from ../data/raw_data/val/valuation_raw_75.csv
Loading from ../data/raw_data/val/valuation_raw_76.csv
Loading from ../data/raw_data/val/valuation_raw_77.csv
Loading from ../data/raw_data/val/valuation_raw_78.csv
Loading from ../data/raw_data/val/valuation_raw_79.csv
Loading from ../data/raw_data/val/valuation_raw_80.csv
Loading from ../data/raw_data/val/valuation_raw_81.csv
Loading from ../data/raw_data/val/valuation_raw_82.csv
Loading from ../data/raw_data/val/valuation_raw_83.csv
Loading from ../data/raw_data/val/valuation_raw_84.csv
Loading from ../data/raw_data/val/valuation_raw_85.csv
Loading from ../data/raw_data/val/valuation_raw_86.csv
Loading from ../data/raw_data/val/valuation_raw_87.csv
Loading from ../data/raw_data/val/valuation_raw_88.csv
Loading from ../data/raw_data/val/valuation_raw_89.csv
Loading from ../data/raw_data/val/valuation_raw_90.csv
Loading from ../data/raw_data/val/valuation_raw_91.csv
Loading from ../data/raw_data/val/valuation_raw_92.csv
Loading from ../data/raw_data/val/valuation_raw_93.csv
Loading from ../data/raw_data/val/valuation_raw_94.csv
Loading from ../data/raw_data/val/valuation_raw_95.csv
Loading from ../data/raw_data/val/valuation_raw_96.csv
Loading from ../data/raw_data/val/valuation_raw_97.csv
Loading from ../data/raw_data/val/valuation_raw_98.csv
Loading from ../data/raw_data/val/valuation_raw_99.csv
Loading from ../data/raw_data/val/valuation_raw_100.csv
Loading from ../data/raw_data/val/valuation_raw_101.csv
Loading from ../data/raw_data/val/valuation_raw_102.csv
Loading from ../data/raw_data/val/valuation_raw_103.csv
Loading from ../data/raw_data/val/valuation_raw_104.csv
Loading from ../data/raw_data/val/valuation_raw_105.csv
Loading from ../data/raw_data/val/valuation_raw_106.csv
Loading from ../data/raw_data/val/valuation_raw_107.csv
Loading from ../data/raw_data/val/valuation_raw_108.csv
Loading from ../data/raw_data/val/valuation_raw_109.csv
Loading from ../data/raw_data/val/valuation_raw_110.csv
Loading from ../data/raw_data/val/valuation_raw_111.csv
Loading from ../data/raw_data/val/valuation_raw_112.csv
Loading from ../data/raw_data/val/valuation_raw_113.csv
Loading from ../data/raw_data/val/valuation_raw_114.csv
Loading from ../data/raw_data/val/valuation_raw_115.csv
Loading from ../data/raw_data/val/valuation_raw_116.csv
Loading from ../data/raw_data/val/valuation_raw_117.csv
Loading from ../data/raw_data/val/valuation_raw_118.csv
Loading from ../data/raw_data/val/valuation_raw_119.csv
Loading from ../data/raw_data/val/valuation_raw_120.csv
Concatting All...

,Unnamed: 0,:id,:version,:created_at,:updated_at,bble,boro,block,lot,easement,...,council_district,census_tract,bin,nta,geocoded_column,:@computed_region_efsh_h5xi,:@computed_region_f5dn_yrer,:@computed_region_yeji_bk3q,:@computed_region_92fq_4b7q,:@computed_region_sbqj_enih
0,0,row-qzb3~x6p9~ah6u,rv-rx4c-v8sr_7hg9,2020-05-26T20:20:40.413Z,2020-05-26T20:58:40.403Z,1000163859,1,16,3859,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,row-zq8a~8shx_bdn3,rv-wmnu~6zds.t52j,2020-05-26T20:20:40.413Z,2020-05-26T20:58:40.403Z,1000730028,1,73,28,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,row-gmgu~h3z6.tv8d,rv-t975.pydc-dfyk,2020-05-26T20:20:40.413Z,2020-05-26T20:58:40.403Z,1000730029,1,73,29,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,row-35aq_n5pt~tbpg,rv-mjpi-vyd2.k48g,2020-05-26T20:20:40.413Z,2020-05-26T20:58:40.403Z,1000297504,1,29,7504,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,row-6gx5.bhqj_jj7d,rv-wtje~f387-segw,2020-05-26T20:20:40.413Z,2020-05-26T20:58:40.403Z,1000360012,1,36,12,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81332,9845852,row-64ta~utfk~qur6,rv-m934_xeja-ftg2,2020-05-26T20:20:40.413Z,2020-05-26T21:15:20.948Z,5028470084,5,2847,84,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81333,9845853,row-cjrw-hb7c.5ks7,rv-dysc~sw8w-gekj,2020-05-26T20:20:40.413Z,2020-05-26T21:15:20.948Z,5006960339,5,696,339,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81334,9845854,row-pybb-g423_4i7r,rv-upq7.qdt8-6rpd,2020-05-26T20:20:40.413Z,2020-05-26T21:15:20.948Z,5006970028,5,697,28,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81335,9845855,row-93pp.ks94.7ter,rv-u4au~758k~aibn,2020-05-26T20:20:40.413Z,2020-05-26T21:15:20.948Z,5007060050,5,706,50,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
81336,9845856,row-dms2_6jm6_vwxa,rv-vahn-9y8i~nucn,2020-05-26T20:20:40.413Z,2020-05-26T21:15:20.948Z,5007100040,5,710,40,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9845857 entries, 0 to 81336
Data columns (total 50 columns):
 #   Column                       Dtype
---  ------                       -----
 0   Unnamed: 0                   int64
 1   :id                          object
 2   :version                     object
 3   :created_at                  object
 4   :updated_at                  object
 5   bble                         object
 6   boro                         int64
 7   block                        int64
 8   lot                          int64
 9   easement                     object
 10  owner                        object
 11  bldgcl                       object
 12  taxclass                     object
 13  ltfront                      int64
 14  ltdepth                      int64
 15  ext                          object
 16  stories                      float64
 17  fullval                      int64
 18  avland                       int64
 19  avtot                        int64
 20  exland                       int64
 21  extot                        int64
 22  excd1                        float64
 23  staddr                       object
 24  zip                          float64
 25  exmptcl                      object
 26  bldfront                     int64
 27  blddepth                     int64
 28  avland2                      float64
 29  avtot2                       float64
 30  exland2                      float64
 31  extot2                       float64
 32  excd2                        float64
 33  period                       object
 34  year                         object
 35  valtype                      object
 36  borough                      object
 37  latitude                     float64
 38  longitude                    float64
 39  community_board              float64
 40  council_district             float64
 41  census_tract                 float64
 42  bin                          float64
 43  nta                          object
 44  geocoded_column              object
 45  :@computed_region_efsh_h5xi  float64
 46  :@computed_region_f5dn_yrer  float64
 47  :@computed_region_yeji_bk3q  float64
 48  :@computed_region_92fq_4b7q  float64
 49  :@computed_region_sbqj_enih  float64
dtypes: float64(19), int64(13), object(18)
memory usage: 3.7+ GB

In [6]:
df.dropna(subset=(['longitude', 'latitude'])).shape

(9501114, 50)

In [10]:
df_coords = df.dropna(subset=['longitude', 'latitude'])
df_coords.shape

(9501114, 49)

In [ ]:
df_coords.columns

Index([':id', ':version', ':created_at', ':updated_at', 'bble', 'boro',
       'block', 'lot', 'easement', 'owner', 'bldgcl', 'taxclass', 'ltfront',
       'ltdepth', 'ext', 'stories', 'fullval', 'avland', 'avtot', 'exland',
       'extot', 'excd1', 'staddr', 'zip', 'exmptcl', 'bldfront', 'blddepth',
       'avland2', 'avtot2', 'exland2', 'extot2', 'excd2', 'period', 'year',
       'valtype', 'borough', 'latitude', 'longitude', 'community_board',
       'council_district', 'census_tract', 'bin', 'nta', 'geocoded_column',
       ':@computed_region_efsh_h5xi', ':@computed_region_f5dn_yrer',
       ':@computed_region_yeji_bk3q', ':@computed_region_92fq_4b7q',
       ':@computed_region_sbqj_enih'],
      dtype='object')

In [30]:
np.unique(df_coords["staddr"])

array(['*2178 BERGEN AVENUE', '.       1291 GRANT AVENUE',
       '1    SAINT EDWARD LANE', ..., 'WARDS ISLAND', 'WASHINGTON SQ PRK',
       'WORLD TRADE CENTER'], dtype=object)

In [ ]:
# TODO: Find out what data is worth keeping for Valuation

### Subway/Metro Data Cleaning

In [ ]:
# Download latest version
path = kagglehub.dataset_download("new-york-state/nys-nyc-transit-subway-entrance-and-exit-data")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version, please consider updating (latest version: 0.3.13)
Path to dataset files: C:\Users\james\.cache\kagglehub\datasets\new-york-state\nys-nyc-transit-subway-entrance-and-exit-data\versions\4

PermissionError: [Errno 13] Permission denied: 'C:\\Users\\james\\.cache\\kagglehub\\datasets\\new-york-state\\nys-nyc-transit-subway-entrance-and-exit-data\\versions\\4'

In [3]:
sub_df = pd.read_csv("C:/Users/james/.cache/kagglehub/datasets/new-york-state/nys-nyc-transit-subway-entrance-and-exit-data/versions/4/nyc-transit-subway-entrance-and-exit-data.csv")
sub_df

,Division,Line,Station Name,Station Latitude,Station Longitude,Route1,Route2,Route3,Route4,Route5,...,ADA,ADA Notes,Free Crossover,North South Street,East West Street,Corner,Entrance Latitude,Entrance Longitude,Station Location,Entrance Location
0,BMT,4 Avenue,25th St,40.660397,-73.998091,R,NaN,NaN,NaN,NaN,...,False,NaN,False,4th Ave,25th St,SW,40.660489,-73.998220,"{'longitude': '-73.998091', 'latitude': '40.66...","{'longitude': '-73.99822', 'latitude': '40.660..."
1,BMT,4 Avenue,25th St,40.660397,-73.998091,R,NaN,NaN,NaN,NaN,...,False,NaN,False,4th Ave,25th St,SE,40.660323,-73.997952,"{'longitude': '-73.998091', 'latitude': '40.66...","{'longitude': '-73.997952', 'latitude': '40.66..."
2,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NW,40.654676,-74.004306,"{'longitude': '-74.003549', 'latitude': '40.65...","{'longitude': '-74.004306', 'latitude': '40.65..."
3,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NE,40.654365,-74.004113,"{'longitude': '-74.003549', 'latitude': '40.65...","{'longitude': '-74.004113', 'latitude': '40.65..."
4,BMT,4 Avenue,36th St,40.655144,-74.003549,N,R,NaN,NaN,NaN,...,False,NaN,True,4th Ave,36th St,NW,40.654490,-74.004499,"{'longitude': '-74.003549', 'latitude': '40.65...","{'longitude': '-74.004499', 'latitude': '40.65..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1863,IRT,White Plains Road,Simpson St,40.824073,-73.893064,2,5,NaN,NaN,NaN,...,True,NaN,False,Westchester Ave,Simpson St,SW,40.823884,-73.893197,"{'longitude': '-73.893064', 'latitude': '40.82...","{'longitude': '-73.893197', 'latitude': '40.82..."
1864,IRT,White Plains Road,Simpson St,40.824073,-73.893064,2,5,NaN,NaN,NaN,...,True,NaN,False,Westchester Ave,Simpson St,SE,40.824118,-73.892731,"{'longitude': '-73.893064', 'latitude': '40.82...","{'longitude': '-73.892731', 'latitude': '40.82..."
1865,IRT,White Plains Road,Wakefield-241st St,40.903125,-73.850620,2,5,NaN,NaN,NaN,...,False,NaN,True,White Plains Rd,241st St,SE,40.903283,-73.850321,"{'longitude': '-73.85062', 'latitude': '40.903...","{'longitude': '-73.850321', 'latitude': '40.90..."
1866,IRT,White Plains Road,Wakefield-241st St,40.903125,-73.850620,2,5,NaN,NaN,NaN,...,False,NaN,True,White Plains Rd,241st St,NW,40.903597,-73.850360,"{'longitude': '-73.85062', 'latitude': '40.903...","{'longitude': '-73.85036', 'latitude': '40.903..."
1867,IRT,White Plains Road,Wakefield-241st St,40.903125,-73.850620,2,5,NaN,NaN,NaN,...,False,NaN,True,White Plains Rd,241st St,NE,40.903509,-73.850124,"{'longitude': '-73.85062', 'latitude': '40.903...","{'longitude': '-73.850124', 'latitude': '40.90..."

In [5]:
sub_df.to_csv("raw_subway_data.csv")

### Bus Data Cleaning

In [9]:
bus_df = pd.read_csv("../data/raw_data/Bus_Stop_Shelter_20251109.csv")
bus_df

,the_geom,BoroCode,BoroName,BoroCD,CounDist,AssemDist,StSenDist,CongDist,Shelter_ID,Corner,On_Street,Cross_Stre,Longitude,Latitude,NTAName,FEMAFldz,FEMAFldT,HrcEvac
0,POINT (-73.947831 40.706812),3,Brooklyn,301,34,53,18,7,BR0003,SE,MONTROSE AV,LORIMER ST,-73.947831,40.706812,East Williamsburg,X,AREA OF MINIMAL FLOOD HAZARD,4
1,POINT (-73.945162 40.719097),3,Brooklyn,301,34,50,18,7,BR0014,NE,GRAHAM AV,HERBERT ST,-73.945162,40.719097,East Williamsburg,X,AREA OF MINIMAL FLOOD HAZARD,4
2,POINT (-73.945783 40.702976),3,Brooklyn,301,34,53,18,7,BR0026,NE,BROADWAY,LEONARD ST,-73.945783,40.702976,East Williamsburg,X,AREA OF MINIMAL FLOOD HAZARD,3
3,POINT (-73.940836 40.720195),3,Brooklyn,301,34,50,18,7,BR0028,SW,KINGSLAND AV,HERBERT ST,-73.940836,40.720195,East Williamsburg,X,AREA OF MINIMAL FLOOD HAZARD,6
4,POINT (-73.969795 40.69344),3,Brooklyn,302,35,57,25,7,BR0040,NE,VANDERBILT AV,MYRTLE AV,-73.969795,40.693440,Fort Greene,X,AREA OF MINIMAL FLOOD HAZARD,X
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3376,POINT (-74.112215 40.567828),5,Staten Island,502,50,64,24,11,SI05219,NE,Hylan Blvd,Beach Av,-74.112215,40.567828,New Dorp-Midland Beach,X,AREA OF MINIMAL FLOOD HAZARD,3
3377,POINT (-74.168564 40.57401),5,Staten Island,502,51,63,24,11,SI05220,NW,Independence Av,Pathmark,-74.168564,40.574010,New Springville-Willowbrook-Bulls Head-Travis,X,AREA OF MINIMAL FLOOD HAZARD,3
3378,POINT (-74.092991 40.645357),5,Staten Island,501,49,61,23,11,SI05221,SW,Richmond Terrace,Franklin Av,-74.092991,40.645357,St. George-New Brighton,X,AREA OF MINIMAL FLOOD HAZARD,X
3379,POINT (-74.12039 40.5603),5,Staten Island,503,50,64,24,11,SI05222,SW,HYLAN BLVD,GUYON AV,-74.120390,40.560300,Oakwood-Richmondtown,X,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,2
3380,POINT (-74.11977 40.56044),5,Staten Island,503,50,64,24,11,SI05223,NE,HYLAN BLVD,GUYON AV,-74.119770,40.560440,Oakwood-Richmondtown,X,0.2 PCT ANNUAL CHANCE FLOOD HAZARD,2

In [10]:
bus_df_clean = bus_df[["BoroName", "NTAName", "Longitude", "Latitude"]]
bus_df_clean

,BoroName,NTAName,Longitude,Latitude
0,Brooklyn,East Williamsburg,-73.947831,40.706812
1,Brooklyn,East Williamsburg,-73.945162,40.719097
2,Brooklyn,East Williamsburg,-73.945783,40.702976
3,Brooklyn,East Williamsburg,-73.940836,40.720195
4,Brooklyn,Fort Greene,-73.969795,40.693440
...,...,...,...,...
3376,Staten Island,New Dorp-Midland Beach,-74.112215,40.567828
3377,Staten Island,New Springville-Willowbrook-Bulls Head-Travis,-74.168564,40.574010
3378,Staten Island,St. George-New Brighton,-74.092991,40.645357
3379,Staten Island,Oakwood-Richmondtown,-74.120390,40.560300
3380,Staten Island,Oakwood-Richmondtown,-74.119770,40.560440

In [ ]:
bus_df_clean.to_csv("./clean_bus_df.csv")

In [12]:
bus_df_clean.memory_usage(deep=True).sum() / (1024 ** 2)

np.float64(0.45873451232910156)

In [ ]:
batch_save_to_csv(path="../data/raw_data/subway/subway_raw", df=sub_df, debug=True)